  .text {
    display: block;
    font-size: 18px;
    margin: 30px auto 30px auto;
    box-shadow: 0 0 12px rgba( 0, 129, 255, 0.5);
  }
  
  button {
      display: inline-block;
      margin: 0 5px 0 5px;
  }
  
  .pushable {
    background-color: #808080;
    border-radius: 12px;
    border: none;
    padding: 0;
    cursor: pointer;
    outline-offset: 2px;
  }

  .front {
    color: black;
    text-shadow: 1px px gray;
    display: block;
    padding: 3px 10px;
    border-radius: 12px;
    font-size: 14px;
    background-color: rgb(199, 199, 199);
    transform: translateY(-6px);
  }

  .pushable:active .front {
    transform: translateY(-2px);
  }
